<div class="row banner">
  <app-page-header [header]="pageHdr" class="col-12"></app-page-header>
</div>
<div class="row">
  <form novalidate #form="ngForm" (ngSubmit)="submit(form)" class="col-12">
    <div class="form-row mb-2">
      <div class="col">
        Already a member? Please
        <a class="in-text-link" routerLink="/signin">sign in</a>
        instead.
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-2">
        <label class="col-form-label" for="email">
          Email
        </label>
      </div>
    </div>
    <div class="form-row mb-1">
      <div class="col-sm-7">
        <input id="email" class="form-control" type="email" name="email" placeholder="Your email address..."
                [(ngModel)]="user.email" #email="ngModel" required minlength="1" maxlength="200" appEmailValidator>
        <span *ngIf="email.invalid && (email.dirty || email.touched || form.submitted)" class="custom-invalid-feedback">
          {{ getFormCtrlError(email, 'Email') }}
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-2">
        <label class="col-form-label" for="firstname">
          First name
        </label>
      </div>
    </div>
    <div class="form-row mb-1">
      <div class="col-sm-7">
        <input id="firstname" class="form-control" type="text" name="firstname" placeholder="Your first name..."
                [(ngModel)]="user.firstname" #firstname="ngModel" required minlength="1" maxlength="150">
        <span *ngIf="firstname.invalid && (firstname.dirty || firstname.touched || form.submitted)" class="custom-invalid-feedback">
          {{ getFormCtrlError(firstname, 'First name') }}
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-2">
        <label class="col-form-label" for="lastname">
          Last name
        </label>
      </div>
    </div>
    <div class="form-row mb-1">
      <div class="col-sm-7">
        <input id="lastname" class="form-control" type="text" name="lastname" placeholder="Your last name..."
                [(ngModel)]="user.lastname" #lastname="ngModel" required minlength="1" maxlength="150">
        <span *ngIf="lastname.invalid && (lastname.dirty || lastname.touched || form.submitted)" class="custom-invalid-feedback">
          {{ getFormCtrlError(lastname, 'Last name') }}
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-2">
        <label class="col-form-label" for="password">
          Password
        </label>
      </div>
    </div>
    <div class="form-row mb-1">
      <div class="col-sm-7">
        <input id="password" class="form-control" type="password" name="password" placeholder="Choose a password..."
                [(ngModel)]="user.password" #password="ngModel" required appPasswordValidator>
        <span *ngIf="password.invalid && (password.dirty || password.touched || form.submitted)" class="custom-invalid-feedback">
          {{ getFormCtrlError(password, 'Password') }}
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-2">
        <label class="col-form-label" for="confirmPassword">
          Confirm Password
        </label>
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="col-sm-7">
        <input id="confirmPassword" class="form-control" type="password" name="confirmPassword" placeholder="Type the password again..."
                [(ngModel)]="password2" #confirmPassword="ngModel" [appEqualToValidator]="password.control"
                [class.is-invalid]="confirmPassword.invalid">
        <span *ngIf="confirmPassword.invalid" class="custom-invalid-feedback">
          The entered value does not match the password entered in the previous field.
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <input class="btn-base" type="submit" value="Register" [disabled]="form.submitted && form.invalid">
      </div>
    </div>
  </form>
</div>