<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <nav ngbNav [(activeId)]="active" class="nav-pills" orientation="vertical">
        <ng-container ngbNavItem="1">
          <a ngbNavLink placement="bottom"
             ngbTooltip="Illustrates RxJS & using HTTP requests in Angular"
             routerLink="/rxjs-async-http-samples">
            RxJS & Async. HTTP
          </a>
        </ng-container>
        <ng-container ngbNavItem="2">
          <a ngbNavLink placement="bottom"
             ngbTooltip="Illustrates Angular Routing Features"
             routerLink="/routing-samples">
            Routing and Navigation
          </a>
        </ng-container>
        <ng-container ngbNavItem="3">
          <a ngbNavLink placement="bottom"
             ngbTooltip="Illustrates Angular Animation Features" routerLink="/animation-samples">
            Animation
          </a>
        </ng-container>
        <ng-container ngbNavItem="4">
          <a ngbNavLink placement="bottom"
             ngbTooltip="Illustrates Angular Unit Testing via Jasmine" routerLink="/angular-unit-testing">
            Angular Unit Testing
          </a>
        </ng-container>
        <ng-container ngbNavItem="5">
          <a ngbNavLink placement="bottom"
             ngbTooltip="Additional samples illustrating RxJS features" routerLink="/additional-samples">
            RxJS (Reactive Extensions)
          </a>
        </ng-container>
      </nav>
    </div>
    <div class="col-9">
      <header-message></header-message>
      <div class="mb-2"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
