@import "~bootstrap/scss/bootstrap";

table.cart-detail {
  @extend .table;
  @extend .table-striped;
}

.cart-detail th {
  width: 20%;
}

.cart-detail td {
  width: 20%;
}

table.product-table {
  @extend .table;
  @extend .table-striped;
}

.product-table th, .product-table td {
  width: 20%;
}

table.order-table {
  @extend .table;
  @extend .table-striped;
}

.order-table th, .order-table td {
  width: 20%;
}
