<div class="container-fluid">
  <div class="row">
    <div class="col p-2 bg-success">
      <h2 class="text-white float-left">Sports Store</h2>
    </div>
  </div>
  <div class="row mt-2">
    <div *ngIf="OrderSent" class="col text-center">
      <h2>Order placed!</h2>
      <p>
        Thanks for placing your order.
      </p>
      <p>
        We'll ship your goods as soon as possible.
      </p>
      <button class="btn btn-dark" routerLink="/store">Continue Shopping</button>
    </div>
    <div *ngIf="!OrderSent" class="col">
      <form #form="ngForm" (ngSubmit)="submitOrder(form)"
            [class.was-validated]="form.submitted" novalidate>
        <div class="form-row">
          <div class="form-group col-6">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control" placeholder="First name"
                   name="firstName" [(ngModel)]="Order.firstName" required>
            <div class="invalid-feedback">
              Please provide a first name
            </div>
          </div>
          <div class="form-group col-6">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" placeholder="Last name"
                   name="lastName" [(ngModel)]="Order.lastName" required>
            <div class="invalid-feedback">
              Please provide a last name
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" placeholder="Address"
                   name="address" [(ngModel)]="Order.address" required>
            <div class="invalid-feedback">
              Please provide an address
            </div>
          </div>
          <div class="form-group col-6">
            <label for="zip">ZIP</label>
            <input type="text" id="zip" class="form-control" placeholder="ZIP code"
                   name="zip" [(ngModel)]="Order.zip" required>
            <div class="invalid-feedback">
              Please provide a ZIP code
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-4">
            <label for="country">Country</label>
            <input type="text" id="country" class="form-control" placeholder="Country"
                   name="country" [(ngModel)]="Order.country" required>
            <div class="invalid-feedback">
              Please provide a country
            </div>
          </div>
          <div class="form-group col-4">
            <label>City</label>
            <input type="text" id="city" class="form-control" placeholder="City"
                   name="city" [(ngModel)]="Order.city" required>
            <div class="invalid-feedback">
              Please provide a city
            </div>
          </div>
          <div class="form-group col-4">
            <label for="state">State</label>
            <input type="text" id="state" class="form-control" placeholder="State"
                   name="state" [(ngModel)]="Order.state">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <button type="submit" class="btn btn-success float-right">Complete Order</button>
            <button class="btn btn-outline-dark px-4 float-right mr-1" routerLink="/cart">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
