<h2>Service Providers</h2>
<p>
  The following illustrates various service providers supported by Angular. Check
  NgModule's providers property in service-providers.module.ts for definitions of
  various providers used by the components below.
</p>
<class-provider-with-class-type-token></class-provider-with-class-type-token>
<class-provider-with-string-token></class-provider-with-string-token>
<class-provider-with-opaque-token></class-provider-with-opaque-token>
<class-provider-replace-service-class-with-use-class-provider-property>
</class-provider-replace-service-class-with-use-class-provider-property>
<class-provider-resolving-dependency-with-array-of-services></class-provider-resolving-dependency-with-array-of-services>
<value-service-provider></value-service-provider>
<factory-service-provider></factory-service-provider>
<factory-service-provider-with-service-dependency></factory-service-provider-with-service-dependency>
<aliasing-service-tokens></aliasing-service-tokens>
<h2 class="mt-2">
  Local Service Providers
</h2>
<illustrate-component-decorator-providers-property>
  <!-- This illustrates the @Component decorator's providers property. See local-providers.component.ts -->
  <content-child-component></content-child-component>
</illustrate-component-decorator-providers-property>
<illustrate-component-decorator-viewProviders-property>
  <!-- This illustrates the @Component decorator's viewProviders property. See local-providers.component.ts -->
  <content-child-component></content-child-component>
</illustrate-component-decorator-viewProviders-property>
<h2 class="mt-2">
  Controlling Dependency Resolution
</h2>
<illustrate-host-and-optional-decorators>
  <p class="border border-primary font-weight-bold" host-and-optional-decorators-directive></p>
</illustrate-host-and-optional-decorators>
<illustrate-skip-self-decorator></illustrate-skip-self-decorator>
