<table class="table table-sm table-bordered table-striped">
  <thead>
    <tr class="text-dark">
      <th></th><th>Name</th><th>Category</th><th>Price</th><th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getProducts(); let i = index;">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.price}}</td>
      <td class="text-center">
        <button class="btn btn-sm btn-danger" (click)="deleteProduct($any(item.id))">Delete</button>
        <!-- The `routerLink` is an attribute whose value determines what the browser's -->
        <!-- URL is set to after user clicks the button the attribute is applied to.    -->
        <!-- This attribute is selected by a directive from the RouterModule, hence     -->
        <!-- this module must be imported in order for the directive to be instantiated -->
        <!-- once Angular encounters an element with the routerLink attribute.          -->

        <!-- The routerLink attribute value below is a data binding expression, hence it will be  -->
        <!-- evaluated by Angular each time a change is detected. Note how routerLink allows the  -->
        <!-- value to be provided as an array of URL segments, which is combined by the directive -->
        <!-- into a string URL. Hence [form, edit, 1] produces "form/edit/1".                     -->
        <button class="btn btn-sm btn-warning ml-1" (click)="editProduct(item)"
                [routerLink]="['/form', 'edit', item.id]">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary mt-1 mr-1" (click)="createProduct()" routerLink="/form/create">
  Create New Product
</button>
