<div class="bg-primary text-white" [class.bg-warning]="isEditing">
  <h4 class="p-2">{{ isEditing ? "Edit Product" : "Create Product" }}</h4>
</div>
<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)" (reset)="resetForm(form)">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" class="form-control"
           required minlength="3" pattern="^[A-Za-z0-9 ]+$" [(ngModel)]="newProduct.name">
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" class="form-control"
           required minlength="2" pattern="^[A-Za-z0-9 ]+$" [(ngModel)]="newProduct.category">
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" class="form-control" required min="0" [(ngModel)]="newProduct.price">
  </div>
  <div class="form-group">
    <!-- NOTE: we cannot use the routerLink attribute here to change the route to the table component.  -->
    <!-- What would happen is that route would be changed before the form is submitted. In other words, -->
    <!-- the form's submit action wouldn't get to run before the route is changed and form component is    -->
    <!-- destroyed. Hence the router must be changed after the form is submitted as shown in            -->
    <!-- product-form.component.ts.                                                                     -->
    <button type="submit" class="btn btn-primary"
            [disabled]="form.submitted && form.invalid" [class.btn-warning]="isEditing">
      {{ isEditing ? "Update" : "Create" }}
    </button>
    <button type="reset" class="btn btn-secondary ml-1" routerLink="/">
      Cancel
    </button>
  </div>
</form>
