<div class="container mt-2">
  <div class="row">
    <div class="col-3">
      <button class="btn btn-secondary btn-block"
              routerLink="/animation-samples/table" [class.bg-primary]="shouldHighlightAllProductsBtn()">
        All Products
      </button>
      <button class="btn btn-secondary btn-block"
              *ngFor="let category of getCategories()" [routerLink]="['/animation-samples/table', category]"
              routerLinkActive="bg-primary">
        {{ category }}
      </button>
    </div>
    <div class="col-9">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr class="text-dark">
            <th></th><th>Name</th><th>Category</th><th>Price</th><th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getProducts(); let i = index;">
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.price}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-danger" (click)="deleteProduct($any(item.id))">
                Delete
              </button>
              <button class="btn btn-sm btn-warning ml-1" [routerLink]="['/animation-samples/form', 'edit', item.id]">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3 text-center">
    <div class="col">
      <button class="btn btn-primary mt-1 mr-1" routerLink="/animation-samples/create">
        Create New Product
      </button>
    </div>
  </div>
</div>
