<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <select class="form-control" id="selectedCategory" (change)="selectedCategory = $any($event.target).value">
          <option value="" selected>Select a category...</option>
          <option *ngFor="let category of getCategories()">
            {{ category }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr class="text-dark">
            <th></th><th>Name</th><th>Category</th><th>Price</th><th></th>
          </tr>
        </thead>
        <tbody @rowHighlight>
          <!-- For more info on Angular's animation system check table-row.animation.ts. -->
          <tr *ngFor="let item of getProducts(); let i = index;" [@rowHighlight]="getRowAnimationState(item.category)">
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.price}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-danger" (click)="deleteProduct($any(item.id))">
                Delete
              </button>
              <button class="btn btn-sm btn-warning ml-1" [routerLink]="['/animation-samples/form', 'edit', item.id]">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3 text-center">
    <div class="col">
      <button class="btn btn-primary mt-1 mr-1" routerLink="/animation-samples/create">
        Create New Product
      </button>
    </div>
  </div>
</div>
