<div class="container-fluid">
  <div class="row">
    <div class="col p-2 bg-success">
      <h2 class="text-white float-left">Sports Store Admin</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-4">
      <form #form="ngForm" (ngSubmit)="authenticate(form)"
            [class.was-validated]="form.submitted && !form.valid" novalidate>
        <div class="form-row">
          <div class="col">
            <h3>Admin Sign in</h3>
          </div>
        </div>
        <div class="form-row mb-n2">
          <div class="form-group col">
            <input type="text" class="form-control" placeholder="Username"
                   name="username" [(ngModel)]="username" required>
            <div class="invalid-feedback">
              Please provide a username
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <input type="password" class="form-control" placeholder="Password"
                   name="password" [(ngModel)]="password" required>
            <div class="invalid-feedback">
              Please provide a password
            </div>
          </div>
        </div>
        <div *ngIf="form.submitted && authFailed" class="alert alert-warning alert-dismissible fade show">
          Authentication failed
          <span type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </span>
        </div>
        <div class="form-row mb-n2">
          <div class="form-group col">
            <button type="submit" class="btn btn-block btn-success" [disabled]="!connService.isConnected()">
              {{connService.isConnected() ? "Log In" : "Offline"}}
            </button>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <button type="submit" class="btn btn-block btn-outline-dark px-4" routerLink="/">Go Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
