<div class="form-check">
  <input type="checkbox" class="form-check-input" id="display_shipped_orders"
         [(ngModel)]="displayShippedOrders">
  <label for="display_shipped_orders" class="form-check-label">
    Display Shipped Orders
  </label>
</div>
<!-- Use 'appNgInit' custom directive to load orders from the server. This makes sure that only one HTTP request -->
<!-- is sent, regardless of how many times Angular renders this page. Note that 'loadOrders' function is -->
<!-- not invoked here, it is simply passed as an argument to the directive which invokes the function itself. -->
<!-- Also note that 'this' arguments (the repository) is passed to the directive as well. -->
<table [appNgInit]="repository.loadOrders" [thisArg]="repository" class="product-table">
  <thead>
    <th scope="col">
      Name
    </th>
    <th scope="col">
      Zip
    </th>
    <th scope="col">
      Cart
    </th>
    <th scope="col"></th>
    <th scope="col"></th>
  </thead>
  <tbody>
    <tr *ngIf="repository.getOrders().length == 0">
      <td colspan="5">
        There are no orders in the database
      </td>
    </tr>
    <ng-template ngFor let-order [ngForOf]="repository.getOrders()">
      <ng-template ngIf [ngIf]="order.shipped && displayShippedOrders || !order.shipped">
        <tr>
          <td>
            {{order.firstName + " " + order.lastName}}
          </td>
          <td>
            {{order.zip}}
          </td>
          <td class="font-weight-bold">
            Products
          </td>
          <td class="font-weight-bold">
            Quantity
          </td>
          <td class="text-center">
            <div class="container">
              <div class="row justify-content-around">
                <button class="btn btn-sm btn-warning text-white col-5" (click)="markShipped(order)"
                        [disabled]="order.shipped">
                  {{order.shipped ? "Shipped" : "Ship"}}
                </button>
                <button class="btn btn-sm btn-danger col-5" (click)="deleteOrder(order)">
                  Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngFor="let line of order.cart.cartLines">
          <td colspan="2">
            &nbsp;
          </td>
          <td>
            {{line.product.name}}
          </td>
          <td colspan="2">
            {{line.quantity}}
          </td>
        </tr>
      </ng-template>
    </ng-template>
  </tbody>
</table>
