<table class="product-table">
  <thead>
    <th scope="col">
      ID
    </th>
    <th scope="col">
      Name
    </th>
    <th scope="col">
      Category
    </th>
    <th scope="col" class="text-right">
      Price
    </th>
    <th scope="col"></th>
  </thead>
  <tbody>
    <tr *ngIf="repository.getProducts().length == 0">
      <td colspan="5">
        There are no products in the database
      </td>
    </tr>
    <tr *ngFor="let product of repository.getProducts()">
      <td>
        {{ product.id }}
      </td>
      <td>
        {{ product.name }}
      </td>
      <td>
        {{ product.category }}
      </td>
      <td class="text-right">
        {{ product.price | currency:"USD":"symbol":"2.2-2" }}
      </td>
      <td class="text-center">
        <button class="btn btn-sm btn-warning px-3 mr-1 text-white" (click)="editProduct(product)">
          <!-- Equivalent to: <button class="btn btn-sm btn-warning px-3 mr-1 text-white" [routerLink]="['/admin/main/products/edit', product.id]"> -->
          Edit
        </button>
        <button class="btn btn-sm btn-danger px-2" (click)="deleteProduct(product)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="createProduct()">
  <!-- Equivalent to: <button class="btn btn-primary" routerLink="/admin/main/products/create"> -->
  Create New Product
</button>
