<h4 *ngIf="editing" class="pl-3 py-3 bg-success text-white">
  Edit Product
</h4>
<h4 *ngIf="!editing" class="pl-3 py-3 bg-info text-white">
  Create Product
</h4>
<form #form="ngForm" (ngSubmit)="createOrUpdate(form)"
      [class.was-validated]="form.submitted" novalidate>
  <div class="form-row">
    <div class="form-group col">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" placeholder="Product name..."
             name="name" [(ngModel)]="product.Name" required>
      <div class="invalid-feedback">
        Please provide a product name
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="category">Category</label>
      <input type="text" id="category" class="form-control" placeholder="Category..."
             name="category" [(ngModel)]="product.Category" required>
      <div class="invalid-feedback">
        Please provide a category
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" placeholder="Description..."
                name="description" [(ngModel)]="product.Description" rows="4"
                required></textarea>
      <div class="invalid-feedback">
        Please provide a product description
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="price">Price</label>
      <!-- TODO: properly validate the price input. The input value must be non-negative which  -->
      <!--       can't be expressed with the HTML min attribute (doesn't accept decimal numbers -->
      <input type="number" id="price" class="form-control" placeholder="Price..."
             name="price" [(ngModel)]="product.Price" step="0.01" min="0" required>
      <div class="invalid-feedback">
        Please provide a product price
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <button *ngIf="editing" type="submit" class="btn btn-success px-2">Update</button>
      <button *ngIf="!editing" type="submit" class="btn btn-info px-2">Create</button>
      <button class="btn btn-light text-dark px-2 ml-1" routerLink="/admin">Cancel</button>
    </div>
  </div>
</form>
