<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Temperature by ZIP</title>
    <meta name="description" content="A web-page that let's user obtain a temperature in an area identified by an USA ZIP code">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/main.js"></script>
</head>
<body>