<%- include("header"); %>
    <div id="fullscreen_div">
        <div id="centered_div">
            <form id="zip_form">
                <input type="number" id="zip_code" min="0" max="99999" placeholder="99501">
                <input type="submit" id="go_btn" value="Go">
            </form>
            <div id="output">
            </div>
        </div>
    </div>
<%- include("footer"); %>