<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <nav ngbNav #nav="ngbNav" [(activeId)]="active"
           class="nav-pills" orientation="vertical">
        <ng-container ngbNavItem="1">
          <a ngbNavLink>Data Bindings</a>
          <ng-template ngbNavContent>
            <data-bindings></data-bindings>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="2">
          <a ngbNavLink>Built-in Directives</a>
          <ng-template ngbNavContent>
            <builtin-directives></builtin-directives>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="3">
          <a ngbNavLink>Events and 2-Way Bindings</a>
          <ng-template ngbNavContent>
            <events-2way-data-bindings></events-2way-data-bindings>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="4">
          <a ngbNavLink>Template Based Forms</a>
          <ng-template ngbNavContent>
            <template-based-forms></template-based-forms>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="5">
          <a ngbNavLink>Reactive Forms</a>
          <ng-template ngbNavContent>
            <reactive-forms></reactive-forms>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="6">
          <a ngbNavLink>Attribute Directives</a>
          <ng-template ngbNavContent>
            <attribute-directives></attribute-directives>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="7">
          <a ngbNavLink>Structural Directives</a>
          <ng-template ngbNavContent>
            <structural-directives></structural-directives>
          </ng-template>
        </ng-container>
      </nav>
    </div>
    <div [ngbNavOutlet]="nav" class="col-9"> </div>
  </div>
</div>
