<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <nav ngbNav #nav="ngbNav" [(activeId)]="active"
           class="nav-pills" orientation="vertical">
        <ng-container ngbNavItem="1">
          <a ngbNavLink>Data Bindings</a>
          <ng-template ngbNavContent>
            <data-bindings></data-bindings>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="2">
          <a ngbNavLink>Built-in Directives</a>
          <ng-template ngbNavContent>
            <builtin-directives></builtin-directives>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="3">
          <a ngbNavLink>Events and 2-Way Bindings</a>
          <ng-template ngbNavContent>
            <events-2way-data-bindings></events-2way-data-bindings>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="4">
          <a ngbNavLink>Template Based Forms</a>
          <ng-template ngbNavContent>
            <template-based-forms></template-based-forms>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="5">
          <a ngbNavLink>Reactive Forms</a>
          <ng-template ngbNavContent>
            <reactive-forms></reactive-forms>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="6">
          <a ngbNavLink>Attribute Directives</a>
          <ng-template ngbNavContent>
            <attribute-directives>
              <!-- This HTML content serves the purpose of illustrating the scope of @ContentChildren -->
              <!-- decorator that searches for child directives. See ContentChildrenIncludeDescendentsOuterDir -->
              <!-- in content-children.directive.ts for more information -->
              <div>
                <p appContentChildrenInnerDir>
                  This is a paragraph within the projected content (host element's content).
                </p>
              </div>
            </attribute-directives>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="7">
          <a ngbNavLink>Structural Directives</a>
          <ng-template ngbNavContent>
            <structural-directives></structural-directives>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="8">
          <a ngbNavLink>Components In Details</a>
          <ng-template ngbNavContent>
            <!-- For in-depth description of :host-context selector check product-form.component.ts -->
            <components-in-detail class="hostContextIllustration2"></components-in-detail>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="9">
          <a ngbNavLink>Pipes</a>
          <ng-template ngbNavContent>
            <pipes></pipes>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="10">
          <a ngbNavLink>Services & Dep. Injection</a>
          <ng-template ngbNavContent>
            <services-dep-injection></services-dep-injection>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="11">
          <a ngbNavLink>Service Providers</a>
          <ng-template ngbNavContent>
            <service-providers></service-providers>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="12">
          <a ngbNavLink>Angular Modules</a>
          <ng-template ngbNavContent>
            <angular-modules></angular-modules>
          </ng-template>
        </ng-container>
      </nav>
    </div>
    <div [ngbNavOutlet]="nav" class="col-9"> </div>
  </div>
</div>
