//- Illustrates how to extend a Pug layout. This view extends the
//- layout.pug layout file. Note that `layout.pug` defines two blocks,
//- header and body, but this view defines only the body block which
//- is legal
extends layout

//- Define the body block
block body
    p Text text text text