//- A simple Jade/Pug view
doctype html
html(lang="en")
    head
        title Simple Jade/Pub View
    body
        h1 This is a simple Jade/Pug example

        //- The following defines a div with id `container`
        #container
            p A paragraph.
